body {
  margin: 0;
  padding: 1%;
  font-family: sans-serif;
  background-color: #11122f;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  text-rendering: optimizeLegibility;
}